
body {
  background-color: #f1f1f2;
}

.outerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 24px 40px;
  background-color: #fff;
  max-width: 1000px;
  padding: 0 32px 32px;
}

.headings {
  color: #656666;
  /* font: 16px/24px 'Roboto'; */
  letter-spacing: .086em;
  text-transform: uppercase;
  padding-top: 33px;
}