
body {
  background-color: #f1f1f2;
  /* display: block; */
}

.item-1 {
  grid-area: whatToOrder;
}

.item-1 {
  grid-area: insiderTip;
}

.item-1 {
  grid-area: knownFor;
}

.item-1 {
  grid-area: public;
}

.outerContainer {
  display: grid;
  /* grid-template-columns: 100px 300px 100px; */
  /* grid-template-rows: 50px 50px 300px 50px 300px 50px 300px 50px 300px 50px; */
  /* grid-template-columns: 1fr 1fr 1fr 320px; */
  grid-template-rows: 1.5fr repeat(4, 1fr);
  grid-template-areas: 

  "whatToOrder whatToOrder whatToOrder ."
  "insiderTip insiderTip insiderTip"
  "knownFor knownFor knownFor"
  "public public public";

  /* grid-row-gap: 10px; */
  /* border: 6px black; */
  /* background-color: white; */
}

/* .module {
  
} */
.headings {
  color: #656666;
  font: 16px/24px 'Roboto';
  letter-spacing: .086em;
  text-transform: uppercase;
}