.itemList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
}

.knownImage {
  display: block;
  height: 72px;
  width: 100%;
  border: none; 
  background-repeat: no-repeat;
  background-size: 90%;
  background-position-x: center;
}

.knownContainer {
  display: inline-block;
  margin: 12px 16px 0;
  width: 96px;
}

.knownText {
  text-align: center;
  margin: inherit;
  letter-spacing: .013em;
}