
.itemList {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.photo {
  display: block;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
  height: 150px;
  width: 150px;
  justify-content: space-around;
}

.text {
  align-items: right;
}