
.itemList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.itemContainer {
  display: inline-block;
  width: 33.33%;
}

.item { 
  margin: 17px 16px 0 0;
  position: relative;
}

.photo {
  background-size: cover;
  height: 176px;
  width: 100%;
}


.text {
  bottom: 0;
  color: white;
  margin: 16px;
  max-height: 72px;
  max-width: calc(100% - 32px);
  overflow: hidden;
  position: absolute;
}

.overlay {
  background-color: rgba(16,24,32,.35);
  opacity: .75;
  height: 100%;
  width: 100%;
}