.test h1 {
  color: green;
  font: 'Roboto' ;
}

.test {
  display: inline-block;
}
.photo {
  color: white;
  display: flex;
  background-size: 20em;
  background-repeat: no-repeat;
  height:100px;
  width:100%;
  resize: both;
}
