
.url {
  display: flex;
  flex-direction: row;
}

.photoContainer {
  height: 120px;
  width: 120px !important;
  overflow: hidden;
  background-color: black;
}

.photo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  min-width: 120px;
  min-height: 120px;
  transition: all .2s ease-in-out;
}

.item:hover .photo {
  transform: scale(1.01);
}

.item:hover #box {
  opacity: 0.9;
}

.subContainer {
  height: 120px;
  width: 372px;
  display: flex;
  flex-direction: row;
}

.card {
  height: 100%;
  max-width: 578px;
  max-height: 216px;
}

.cardDetails {
  align-items: center;
  background: none;
  display: flex;
  height: 76px;
  max-width: 216px;
  padding: 22px 14px;
  position: absolute;
}

.cardTitle {
  color: #101820;
  font: 19px/23px;
  letter-spacing: .013em;
}

.item:hover .cardTitle {
  text-decoration: underline;
  -webkit-text-decoration-color: #b70038;    
  text-decoration-color: #b70038;
}

.buttonContainer {
  margin-top: 40px;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
}

button {
  background: none;
  border: 2px solid #b70038;
  height: 40px;
  width: 192px;
  text-align: center;
  margin-top: 40px;
}

button:hover {
  background: #b70038;
}

button:hover .buttonText {
  color: white;
}

.buttonText {
  color: #b70038;
  cursor: pointer;
  font: 16px/24px;
  letter-spacing: .086em;
  text-transform: uppercase;
}

button:focus {outline:0;}

@media (min-width: 600px) {

  .itemContainer {
    margin-bottom: -40px;
  } 

  .item {
    margin-bottom: 40px;
    display: inline-block;
    width: 50%;
  }
}

@media (max-width: 599px) {  
  .item {
    border-bottom: 1px #d0d2d3 solid;
    display: block;
    padding-bottom: 16px;
    margin-bottom: 16px;
    width: unset;
  }
  
}